.welcome-text h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px black; /* Adds a subtle black outline */
    margin-bottom: 1rem;
  }
  
  .welcome-text p {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px black; /* Adds a subtle black outline */
  }
  